.popup {
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  margin: 0;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
