.form__field {
  max-width: calc(100% - 2.375em);
  margin: 0 auto;
  flex-direction: column;
  display: flex;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (min-width: 458px) {
    .form__field {
    max-width: 22.375em;
    align-items: center;
  }
}
