.field-input {
  border-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding: 0 0 9px 0;
  margin-bottom: 30px;
  max-width: 100%;
}

.field-input:nth-last-child(2) {
  margin: 0 auto;
}

@media screen and (min-width: 458px) {
  .field-input {
    width: 22.25em;
  }

}
