.field-input {
  border-style: none;
  border-bottom: .0625rem solid rgba(0, 0, 0, .2);
  padding: 0 0 .5625rem 0;
  margin-bottom: 1.875rem;
  width: 100%;
  font-size: .875em;
  line-height: 1.2;
  transition: all .2s;
}

.field-input:nth-last-child(2) {
  margin: 0 auto;
}

field-input:focus {
  background-color: rgba(220, 220, 220, 1);
}
