.field-input {
  border-style: none;
  border-bottom: .0625em solid rgba(0, 0, 0, .2);
  padding: 0 0 .5625em 0;
  margin-bottom: 2.6875em;
  width: 100%;
  font-size: .875em;
  line-height: 1.2;
}

.field-input:nth-last-child(2) {
  margin: 0 auto;
}

