.popup__title {
  font-weight: 900;
  font-size: 1.125em;
  line-height: 122%;
  color: rgba(0, 0, 0, 1);
  max-width: 100%;
  padding: 1.5625rem 1.375rem 4.75rem;
  margin: 0;
}

@media screen and (min-width: 515px) {
  .popup__title {
    font-size: 1.5em;
    line-height: 121%;
    padding: 2.125rem 2.25rem 2.375rem;
  }
}
