.profile-info__edit {
  max-width: 14.1em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.875em 1.8125em 0;
}

@media screen and (min-width: 768px) {
    .profile-info__edit {
    margin: 0;
    text-align: left;
    max-width: 26em;
  }

}


