.popup__container {
  box-shadow: 0 0 1.5625rem rgba(0, 0, 0, 0.15);
  border-radius: .625rem;
  background: rgba(255, 255, 255, 1);
  width: 17.625rem;
  text-align: left;
  position: relative;
}

@media screen and (min-width: 515px) {
    .popup__container {
    width: 26.875rem;
  }
}
