.edit-button {
  border: 1px solid rgba(255, 255, 255, 1);
  padding: 5.25px;
  background: url(../../images/edit.svg) no-repeat center;
  background-size: 7.5px;
  box-sizing: border-box;
}


@media screen and (min-width: 515px) {
   .edit-button {
    height: 10px;
    width: 10px;
    padding: 7px;
  }
}


