.card__remove {
  background: transparent url(../../../images/remove.svg) no-repeat center;
  position: absolute;
  top: 1rem;
  right: .9375rem;
  width: 1rem;
  height: 1.20625rem;
  border: none;
  background-size: 1rem 1.20625rem;
}
