.avatar__image {
  -o-object-position: center;
  object-position: center;
  -o-object-fit: cover;
  object-fit: cover;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 100%;
  z-index: 1;
  position: relative;
}

