.popup__close {
  position: absolute;
  top: -2rem;
  right: 0;
  background: transparent url(../../../images/close-icon.svg) no-repeat center;
  background-size: 1.625rem 1.625rem;
  width: 1.625rem;
  height: 1.625rem;
  border-style: none;
}

@media screen and (min-width: 515px) {
   .popup__close {
    background-size: 2.5rem 2.5rem;
    margin: 0;
    top: -2.5rem;
    right: -2.5rem;
    width: 2.5rem;
    height: 2.5rem;
  }
}
