.form__save {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  background: #000;
  color: #FFFFFF;
  padding: .875em 6.25em;
  border-radius: 2px;
  margin: 46px auto 25px;
}

@media screen and (min-width: 458px) {
    .form__save {
    font-size: 18px;
    line-height: 22px;
    padding: .875em 7.75em;
  }
}
