@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

@import url(../blocks/ellipses/ellipses.css);
@import url(../blocks/button/button.css);
@import url(../blocks/button/_hover/button_hover_light.css);
@import url(../blocks/button/_hover/button_hover_dark.css);
@import url(../blocks/button/_hover/button_hover_darker.css);
@import url(../blocks/error-message/error-message.css);

@import url(../blocks/page/page.css);
@import url(../blocks/content/content.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/avatar/avatar.css);
@import url(../blocks/avatar/__image/avatar__image.css);
@import url(../blocks/avatar/__edit-icon/avatar__edit-icon.css);
@import url(../blocks/profile-info/profile-info.css);
@import url(../blocks/profile-info/__name/profile-info__name.css);
@import url(../blocks/profile-info/__edit/profile-info__edit.css);
@import url(../blocks/edit-name/edit-name.css);
@import url(../blocks/edit-button/edit-button.css);
@import url(../blocks/profile-info/__profession/profile-info__profession.css);
@import url(../blocks/add-button/add-button.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__container/_type/popup__container_type_image.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/__close/_type/popup__close_type_image.css);
@import url(../blocks/popup/__figure/popup__figure.css);
@import url(../blocks/popup/__image/popup__image.css);
@import url(../blocks/popup/__caption/popup__caption.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/field-input/field-input.css);
@import url(../blocks/popup/__save/popup__save.css);
@import url(../blocks/popup/__save/_type/popup__save_type_remove-card.css);

@import url(../blocks/cards/cards.css);
@import url(../blocks/card-list/card-list.css);
@import url(../blocks/card/card.css);
@import url(../blocks/card/__remove/card__remove.css);
@import url(../blocks/card/__image/card__image.css);
@import url(../blocks/card/__caption/card__caption.css);
@import url(../blocks/card/__location/card__location.css);
@import url(../blocks/likes-container/likes-container.css);
@import url(../blocks/card/__like/card__like.css);
@import url(../blocks/card/__likes-count/card__likes-count.css);
@import url(../blocks/button/_empty/button_empty.css);
@import url(../blocks/button/_filled/button_filled.css);

@import url(../blocks/footer/footer.css);
