.card__image {
  background-color: inherit;
  border-radius: 10px 10px 0px 0px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  width: 17.625rem;
  height: 17.625rem;
  cursor: pointer;
}
