.edit-icon {
  width: 7.5px;
  height: 7.5px;
  border: 1px solid rgba(255, 255, 255, 1);
  padding: 5.25px;
}


@media screen and (min-width: 768px) {
   .edit-icon {
    height: 10px;
    width: 10px;
    padding: 7px;
  }
}


