.popup__form {
  max-width: calc(100% - 2.75rem);
  margin: 0 auto 1.5625rem;
  color: rgba(0, 0, 0, 1);
}

@media screen and (min-width: 515px) {
    .popup__form {
    max-width: 22.375rem;
    margin: 0 auto 2.25rem;
  }
}
