.form__container {
  z-index: 5;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background: rgba(255, 255, 255, 1);
  width: 17.625em;
  height: 20.125em;
  text-align: left;
  position: relative;
}

@media screen and (min-width: 515px) {
    .form__container {
    width: 26.875em;
    height: 20.625em;
  }

}
