.card__caption {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  padding: 1.5em .9375em 1.5625em 1.3125em;
  border-radius: 0 0 10px 10px;
}

