.add-icon {
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  padding: 1.0625em 8.3125em;
  margin: 2.25em 0 0 0;
  height: 1em;
  width: 1em;
}


@media screen and (min-width: 768px) {
   .add-icon {
    margin: 0;
    padding: .875em 4em;
    height: 1.375em;
    width: 1.375em;
  }
}

