@media screen and (min-width: 768px) {
    .profile-info {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin-left: 1.875em;
  }
}
