.profile-info__name {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .profile-info__name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 25.9375rem;
  }
}
