.error-message{
  color: rgba(255, 0, 0, 1);
  font-size: .75rem;
  line-height: .9375rem;
  border-top: .0625rem solid rgba(255, 0, 0, 1);
  display: flex;
}

.error-message:empty {
  border-top-color: rgba(0, 0, 0, .2);
}
