.popup__save {
  font-size: 0.875em;
  line-height: 1.2;
  text-align: center;
  background: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
  padding: 0.875rem 6.25rem;
  border-radius: 0.125rem;
  margin: 2.875rem 0 0;
  width: 100%;
}

.popup__save:disabled {
  background: none;
  opacity: 0.2;
  color: rgba(0, 0, 0, 0.2);
  cursor: default;
}

@media screen and (min-width: 515px) {
  .popup__save {
    font-size: 1em;
    line-height: 122%;
    padding: 0.875rem 7.75rem;
    margin: 3rem 0 0;
  }
}
