.button{
 transition: all .2s;
}

.button:hover {
  cursor: pointer;
}

.button_hover_darker:hover{
  opacity: .8;
}

.button_hover_dark:hover {
  opacity: .6;
}

.button_hover_light:hover {
  opacity: .5;
}

.button:active {
  transform: translateY(.25em);
}
